@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page Title - Top Left */
.page-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    vertical-align: middle;
    color:white
  }
  
  /* Page Subtitle */
  .page-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
    text-align: left;
  }
  
  /* Breadcrumb */
  .breadcrumb-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
    vertical-align: middle;
  }
  
  /* Section Header */
  .section-header {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: -0.11px;
  }



  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }